<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Şişli Acil Medikal - Medikal Malzemeler</title>

	<!-- Place favicon.png in the root directory -->
	<link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
	<!-- Font Icons css -->
	<link rel="stylesheet" href="~/assets/css/font-icons.css" asp-append-version="true">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		@await Component.InvokeAsync("Header")

	</header>

	@RenderBody()




	<!-- All JS Plugins -->
	<script src="~/assets/js/" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Main JS -->
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
